.postlayout5>.row{
    margin: -8px;
}
.postlayout5>.row>.col{
    flex: 0 0 auto;
    width: 50%;
    padding: 8px;
}
.postlayout5>.row>.col:first-child{
    width: 100%;
}
.postlayout5>.row>.col:first-child h3{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 9px;
    line-height: 20px;
    font-weight: 700;
}
.postlayout5>.row>.col h3{
    font-size: 14.5px;
    margin-top: 17px;
    margin-bottom: 5px;
    line-height: 20px;
}
.postlayout5>.row>.col span{
    font-size: 14px;
    color: grey;
    padding-bottom: 5px;
    display: block;
}
.postlayout5>.row>.col>a>img{
    width: 100%;
}