.category-layout{
    
}
.category-layout> ul{
    padding: 0;
}
.category-layout ul.children{
    margin-top: 11px;
    border-top: 1px solid var(--border-color);
}
.category-layout ul.children li:last-child{
    padding-bottom: 0;
}
.category-layout> ul li{
    border-bottom: 1px solid var(--border-color);
    padding: 11px 0;
}
.category-layout> ul li svg{
    margin-right: 5px;
}
.category-layout> ul >li:first-child{
    padding-top: 0;
}
.category-layout> ul li:last-child{
    border-bottom: none;
}
.category-layout ul li a{
    display: flex;
    justify-content: space-between;
    transition: .3s ease;
}
.category-layout ul li a span{
    font-style: italic;
}
.category-layout ul li a:hover{
    color: var(--primary-color);
}