.pagelayout1>.row{
    margin: -11px;
}
.pagelayout1>.row>.col{
    padding: 11px;
}
.pagelayout1>.row>.col>.row{
    margin: 0 -9px
}
.pagelayout1>.row>.col>.row>.col{
    padding: 0 9px;
}
.pagelayout1>.row>.col>.row>.col{
    flex: 0 0 auto;
    width: 100%;
    position: relative;
}
.pagelayout1>.row>.col>.row>.col img{
    width: 120px;
    margin-right: 11px;
    float: left;
}
.pagelayout1>.row>.col>.row>.col h3{
    font-size: 14.7px;
    line-height: 20px;
    margin-bottom: 4px;
}
.pagelayout1>.row>.col>.row>.col span{
    font-size: 13px;
}

@media (max-width:1250px) {
    .pagelayout1>.row{
        margin: -9px;
    }
    .pagelayout1>.row>.col{
        padding: 9px;
    }
    .pagelayout1>.row>.col>.row{
        margin: 0 -7px;
        padding-bottom: 11px;
    }
    .pagelayout1>.row>.col>.row>.col{
        padding: 0 7px;
    }
    .pagelayout1>.row>.col>.row>.col h3{
        font-size: 13.7px;
    }
}

@media (max-width: 660px) {
    .pagelayout1>.row>.col{
        width: 100%;
    }
}