.main-layout {
    padding-top: 53px;
    padding-bottom: 53px;
}

.column-layout {
    padding: 0 30px;
    flex: 0 0 auto;
    width: 25%;
}
.column-layout>div>*{
    padding-bottom: 53px;
}
.column-layout>div>*:last-child{
    padding-bottom: 0;
}

.column-layout.middle {
    width: 50%;
    overflow: hidden;
}

@media (max-width: 960px){
    .main-layout {
        padding-top: 43px;
        padding-bottom: 43px;
    }
    .column-layout {
        width: 100%;
        padding-bottom: 43px;
    }
    .column-layout:last-child{
        padding-bottom:0;
    }
    .column-layout>div>*{
        padding-bottom: 43px;
    }
    .column-layout.middle {
        width: 100%;
        order: -1;
    }
}

@media (max-width: 540px) {
    .column-layout {
        padding-left: 11px;
        padding-right: 11px;
    }
}