.post-image-wrapper {
    margin: 45px 9px;
    margin-bottom: 0;
    position: relative;
    padding-bottom: 66.6666667%;
}

.post-image {
    position: absolute;
    width: 100%;
    top: 0;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
}

.post-image img {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    height: 100%;
}

.post-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, transparent, transparent, #0000006e, #000000cf);
}

.post-image>.post-image-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

.post-image>.post-image-content>span>a,
.post-image>.post-image-content>* {
    color: white;
}