.social-connect{
    
}
.social-connect>.row{
    margin: -5px;
}
.social-connect>.row>.col{
    padding: 5px;
}
.social-connect>.row>.col>a>.row{
    margin: 0;
    align-items: center;
}
.social-connect>.row>.col>a>.row>.col:first-child{
    flex: 0 0 0;
    padding: 14px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
}
.social-connect>.row>.col>a>.row>.col:first-child>*{
    box-sizing: content-box;
    font-size: 11px;
    height: 7px;
    transform: scale(1.85);
    display: block;
}