.home1.row{
    margin: -10px;
}
.home1>.col{
    flex: 0 0 auto;
    padding: 10px;
}
.home1>.col h3{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 5px;
}
.home1>.col span{
    font-size: 13px;
}
.home1>.col>a>img{
    width: 100%;
}