header {
    box-shadow: 0px 0px 9px -2px #00000033;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    transition: all 0.27s ease;
}
header.on{
    height: 80px;
    line-height: 80px;
}

.header_height{
    width: 100%;
    height: 80px;
}

header .header-left img {
    width: 6rem;
    transition: .27s ease;
}
header.on .header-left img {
    width: 7rem;
}
.nav-social>*{
    padding-left: 0;
    padding-right: 11px;
    box-sizing: content-box;
    font-size: 11px;
    height: 7px;
    transform: scale(1.85);
}
.nav-social>*:last-child{
    padding-right: 0;
    height: 7.5px;
}

.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: none;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: all .8s ease;
}

.search.on {
    visibility: visible;
    opacity: 1;
}

header .header-right> * {
    margin-right: 33px;
}
header .header-right> *:last-child{
    margin-right: 0;
}

@media (max-width: 540px) {
    header{
        padding-left: 11px;
        padding-right: 11px;
    }
    header.on{
        padding: 0;
    }
}