.pc-navbar {
    height: 60px;
    line-height: 60px;
    transition: .27s ease;
}

.pc-navbar.on {
    height: 80px;
    line-height: 80px;
}
.pc-navbar.on .mega-wrapper{
    top: 80px;
}

.pc-navbar>ul {
    display: flex;
}

.pc-navbar>ul>li {
    padding-left: 0;
    padding-right: 33px;
}
.pc-navbar>ul>li:last-child {
    padding-right: 0;
}

.pc-navbar>ul>li:hover .mega-progress {
    width: 100%;
    transition: all .4s ease-in-out;
    transition-delay: .3s;
}
.pc-navbar>ul>li:hover .mega-wrapper {
    opacity: 1;
    visibility: visible;
}
.pc-navbar>ul>li:hover .mega-wrapper .mega-row {
    transform: scaleY(1);
    opacity: 1;
}


.pc-navbar>ul li>a {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--primary-font-color);
    font-size: 14px;
    letter-spacing: 1px;
}

.pc-navbar>ul li a>svg::after {
    font-family: FontAwesome;
    content: "\f107";
    margin-left: 5px;
    color: inherit;
    font-size: 13px;
    font-weight: normal;
}

@media (max-width: 1080px) {
    .pc-navbar>ul {
        margin-right: 13px;
    }
    .pc-navbar>ul>li {
        padding-right: 13px;
    }
}

@media (max-width: 960px) {
    .pc-navbar {
        display: none;
    }
}