.error{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 11px;
}
.error> h1{
    position: relative;
    padding-bottom: 43px;
    margin-bottom: 33px;
}
.error> h1::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 1px;
    background-color: #26c6da;
}

.error> .search-layout{
    width: 100%;
    max-width: 400px;
}
.error> a:last-child{
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    color: #26c6da;
    padding-bottom: 1px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 53px;
}