footer {
    overflow: hidden;
}
footer>.row{
    margin: 0 -21px;
    padding: 53px 0;
}
footer>.row>.col{
    padding: 0 21px;
}
footer .pagelayout2>.row{

}
footer .pagelayout2>.row>.col>.row>.col:first-child{
    width: 43%;
}
footer .pagelayout2>.row>.col>.row>.col:last-child{
    width: 57%;
}
footer .pagelayout2>.row>.col>.row>.col:last-child>h3{
    font-size: 14.4px;
}
footer .pagelayout2 hr{
    margin-top: 22px ;
}