footer {
    overflow: hidden;
}
footer>.row{
    margin: -21px;
    padding: 53px 0;
}
footer>.row>.col{
    padding: 21px;
    flex: 0 0 auto;
    width: 25%;
}
footer .pagelayout2>.row{

}

@media (max-width: 1170px) {
    footer>.row>.col{
        width: 50%;
    }
}

@media (max-width: 660px) {
    footer>.row>.col{
        width: 100%;
    }
}
@media (max-width: 540px) {
    footer> :first-child{
        padding: 0 11px;
        padding-top: 53px;
    }
}