.category-posts-wrapper{
    padding-left:11px;
    padding-right:11px;
}
.category-posts-wrapper >.col{
    padding-left: 0;
    padding-right: 0;
    width: 22%;
}
.category-posts-wrapper >.col.middle{
    padding-left: 43px;
    padding-right: 43px;
    width: 56%;
}
.category-posts> .row{
    padding-bottom: 33px;
    margin: 0;
}
.category-posts> .row> .col{
    flex: 0 0 auto;
    padding: 0;
}
.category-posts> .row> .col:first-child{
    width: 48%;
}
.category-posts> .row> .col:last-child{
    width: 52%;
    padding-left: 33px;
}

.category-posts-cat{
    display: block;
    padding-bottom: 11px;
}

.category-posts-cat a {
    font-size: 14px;
    color: var(--primary-color);
}

.category-posts> .row> .col > h3{
    font-size: 15.5px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    transform-origin: 0 0;
    transform: scaleY(1.1);
    margin: 0;
}

.category-posts-cat-box{
    font-size: 14.5px;
    color: grey;
    padding: 11px 0;
}
.category-posts hr{
    width: 60px;
    color: #26c6da;
    margin: 0;
    opacity: 1;
}

.category-posts> .row> .col > p{
    margin-top: 17px;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .category-posts-wrapper> .column-layout:first-child{
        display: none;
    }
    .category-posts-wrapper> .column-layout.middle{
        width: 71%;
        padding-left: 0;
    }
    .category-posts-wrapper> .column-layout:last-child{
        width: 29%;
        padding-left: 0;
    }
}

@media (max-width: 960px) {
    .category-posts-wrapper{
        padding-left: 101px;
        padding-right: 101px;
    }
    .category-posts-wrapper> .column-layout:first-child{
        width: 100%;
        display: block;
    }
    .category-posts-wrapper> .column-layout.middle{
        width: 100%;
    }
    .category-posts-wrapper> .column-layout:last-child{
        width: 100%;
    }
    .category-posts .social-connect>.row>.col>a>.row>.col:last-child{
        flex: 0 0;
    }
}

@media (max-width: 768px) {
    .category-posts-wrapper{
        padding-left: 11px;
        padding-right: 11px;
    }
    .category-posts-wrapper> .col{
        max-width: 480px;
        margin: auto;
    }
    .category-posts-wrapper .category-posts> .row> .col{
        width: 100%;
        padding: 0;
    }
    .category-posts-wrapper> .column-layout.middle{
        padding-right: 0;
    }
    .category-posts-wrapper .category-posts> .row> .col:last-child{
        padding-top: 21px;
    }
}