@font-face {
    font-family: Source Sans Pro;
    src: url(./Fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf);
}
@font-face {
    font-family: Source Sans Pro;
    src: url(./Fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
    font-weight: 600;
}